body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    width: 100%; /* 100% + 10px + 10px*/
    padding: 10px;
    box-sizing: border-box; /* within the body fram*/
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px; /* y-axis x-axis*/
    border: 1px solid #5f9341;
    font-weight: bold;
}

#delete-btn{
    background: white;
    color: #5f9341;
}

/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
    margin-top: 20px;
    list-style: none;    
    padding-left: 0;
}

ul li {
    margin-top: 5px;
    font-size: large;
}

ul li a {
    color: #5f9341
}

